@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Permanent+Marker&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", serif;
}

html {
  direction: rtl;
}

section {
  background-image: url(assets/bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100dvh;
  display: flex;
  align-items: center;
}

section .container {
  width: 650px;
  background-color: #332a224e;
  padding: 30px 25px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid #d7d7d74e;
  margin-right: 15%;
}

section .top_sec {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d7d7d74e;
}

section .top_sec select {
  width: 250px;
  border-radius: 5px;
  outline: none;
  background-color: #a54f3a;
  color: white;
  padding: 2px 10px;
  font-size: 22px;
  margin-top: 10px;
}

section .top_sec h3 {
  font-size: 26px;
  color: white;
}

section .top_sec .date {
  width: 250px;
}

section .top_sec .date h4 {
  font-size: 26px;
  color: white;
}

section .prayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background-color: #c0583e75;
  margin-bottom: 25px;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid #d7d7d74e;
}

@media(max-width: 800px) {
  section .container {
    width: 100%;
    margin-right: 0;
    border-radius: 0;
  }
}

@media(max-width: 650px) {
  section .top_sec select {
    width: 200px;
    font-size: 20px;
  }

  section .top_sec {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  section .prayer {
    font-size: 22px;
  }
}

@media(max-width: 500px) {
  section .top_sec h3 {
    font-size: 24px;
  }
  section .top_sec .date h4 {
    font-size: 24px;
  }
  section .prayer {
    font-size: 18px;
  }
}